@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arsenal SC", serif;
}
body {
  background-color: #ede7e7;
  font-family: "Arsenal SC", serif !important;
  min-height: 100vh;
}

html {
  font-family: "Arsenal", serif;
}
:root {
  --default-font: "Lora", serif;  
  --navbar-font: "Arsenal SC", serif;
  --blue: #497dcb;
  --white-text: #ede7e7;
}

/* NavBar */
.nav-font{
  font-weight: 400;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Arsenal SC", serif !important;
}
.custom-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.baby-blue{
  background-color: var(--blue);
}

.white-text{
  color: var(--white-text);
}


@media (max-width: 395px) {
  .nav-responsive {
    margin-left: 0rem !important;
    padding-left: 0 !important;
  }

  .nav-header {
    margin-left: 0;
  }
}

/* Card Wrapper */
.book-club-card {
  position: relative;
  margin: 5px;
  width: 90%; 
  max-width: 600px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  border-radius: 0.75rem; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  border: none;
}

@media (min-width: 768px) {
  .book-club-card {
    width: 30%; /* Wider on medium screens */
  }
}

@media (min-width: 1400px) {
  .book-club-card {
    width: 25%; /* Standard width on large screens */
  }
}

/* Card Content */
.card-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.card-header .ellipsis {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* Description */
.card-description {
  flex-grow: 1;
  color: #555;
}

/* Actions */
.card-actions {
  display: flex;
  justify-content: flex-end;
}

.blue-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue); 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.blue-button:hover {
  background-color: #4a90c2;
}


.copy-btn {
  border: 2px solid #497dcb; /* Border color */
  color: #497dcb; /* Default text color */
  transition: color 0.3s ease; /* Smooth transition for the color change */
  background-color: #ede7e7;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 40%;
}

.copy-btn:hover {
  transform: scale(1.05);
  color: #497dcb; /* Change text color to blue on hover */
  background-color: #ede7e7;
  border: none;
}

/* Form BTN */
.form-btn {
  background-color: #497dcb; /* Button background color */
  color: white; /* Text color */
  padding: 1rem 1rem; 
  border-radius: 0.375rem; /* Rounded corners */
  font-weight: 600; /* Font weight */
  transition: transform 0.2s, background-color 0.2s; /* Smooth transition for hover effects */
}

.form-btn:hover {
  background-color: #497dcb; /* Hover background color */
  transform: scale(1.05); /* Slightly increase size on hover */
  color: white;
}

  .lora-font{
    font-family: var(--default-font) !important;
  }


   @media(max-width: 722px )
  {
    .tab-responsive {
      display: flex !important;
      flex-wrap: wrap !important;
    }
  } 

  .react-multi-carousel-list{
    padding-top: 1rem;
    padding-right: 0;
  }

  .react-multi-carousel-item {
    flex: 0 0 auto !important;
      padding: 0;
    
  }

  .book-card-cover{
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, .2));
  }
  
  /* Small screens */
  @media (max-width: 640px) {
    .react-multi-carousel-item {
      width: 11.5% !important; /* Reduce width for better fit */
    }
  }
  
  /* Medium screens */
  @media (min-width: 641px) and (max-width: 1024px) {
    .react-multi-carousel-item {
      width: 15% !important; /* Smaller width */
    }
  }
  
  /* Large screens */
  @media (min-width: 1025px) and (max-width: 1440px) {
    .react-multi-carousel-item {
      width: 15% !important; /* Three items with more space */
    }
  }
  
  /* Extra large screens */
  @media (min-width: 1441px) {
    .react-multi-carousel-item {
      width: 15% !important; /* Smaller width to fit more items */
    }
  }

  .view-all-books{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center; 
  }

  @media (max-width: 380px) {
    .view-all-books {
      flex-wrap:nowrap;
      flex-direction: column;
    }

    .line-break {
        border-top: 1px solid #CCCCCC;
        padding-top: 1rem;
      }

    .book-wrapper {
      display: flex;
      flex-direction: row; /* Keep row layout even on smaller screens */
      width: 100%;
      gap: 1rem; /* Space between image and text */
      align-items: center;
    }
    .book-wrapper .relative {
      flex: 1; /* Let image take up part of the width */
      max-width: 40%; /* Limit the image width */
    }
  
    .book-wrapper img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  
    .book-wrapper .p-2 {
      flex: 1; /* Let text area take up the remaining space */
      margin-bottom: auto;
    }
  }

  .truncate-book-title {
    display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
